<div class="container">
    <div class="header"> Component <b>sidebar</b> </div>
    <p>
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, repellat. Sequi consequuntur harum
            numquam architecto! Alias omnis voluptate tenetur facilis iure fugiat, praesentium laudantium unde,
            deleniti perspiciatis rerum, fugit soluta.</span>
        <span>Natus commodi hic amet minus odio blanditiis tenetur ex libero. Ipsum quo atque voluptates ratione minus
            consequuntur porro placeat beatae veritatis accusantium rem non, veniam maiores architecto quam sapiente
            obcaecati.</span>
    </p>
    <br>
    <h4>How much do you like your application?</h4>
    <button class="btn success" id="like">Like</button>
    <button class="btn error" id="dislike">Dislike</button>
</div>