<div class="container">
        <div class="header"> Component <b>Footer</b> </div>

        <h4>Ned Project List on Github:</h4>
        <nav>
                <ul>
                        <li> <a target="_blank" href="https://github.com/HosseinMarzban/ned">Github</a></li>
                        <li> <a target="_blank" href="https://github.com/HosseinMarzban/ned-cli">Ned-cli</a></li>
                        <li> <a target="_blank" href="https://github.com/HosseinMarzban/ned-seed">Ned-seed</a></li>
                        <li> <a target="_blank" href="https://github.com/HosseinMarzban/tscw">TSCW</a></li>
                        <li> <a target="_blank" href="https://github.com/HosseinMarzban/ned-shards-dashboard-lite">Ned Shared Dashboard Demo</a></li>
                </ul>
        </nav>
</div>