<div class="container">
    <div class="header"> Component <b>Header</b> </div>
    <nav>
        <ul>
            <li><a href="/" ndHref>home</a></li>
            <li> <a href="/about" ndHref>about</a></li>
            <li> <a href="/products" ndHref>product</a></li>
            <li> <a href="/posts/archive" ndHref>archive</a></li>
            <li> <a href="/posts" ndHref>posts</a></li>
            <li> <a href="/posts/archive/test" ndHref>tesssst</a></li>
            <li>
                <p class="rateApp"> <span class="like"> Like: 0 </span> <span class="dislike"> Dislike: 0 </span></p>
                <a target="_blank" href="http://www.google.com">google</a>
            </li>
        </ul>
    </nav>
</div>