
<div class="container">
        <div class="header">Route / Component: <b>Product</b></div>
        <div class="body">
                
                <p>
                        <h2>Product</h2>
                        <app-survey></app-survey>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo animi quibusdam vero repellendus accusantium nihil facilis, quod a, velit perspiciatis quidem quo tempora ut aut eaque maiores hic temporibus blanditiis.</span>
                        
                        <span>Eveniet ab consequatur voluptate maxime temporibus quos molestiae deleniti necessitatibus quisquam, corrupti in accusamus excepturi ut aliquid sunt! Consequatur maiores hic laborum eligendi, quas veniam. Facere aut animi enim esse.</span>
                        <span>Esse recusandae harum corrupti sequi error? Debitis quia veritatis exercitationem ipsam dolor? Labore, rerum atque? Laborum praesentium maiores et, odit quae perferendis officia provident, ab rerum maxime tenetur! Obcaecati, quae!</span>
                        <span>Quos recusandae doloribus, delectus magni incidunt quasi nobis, ut aliquid consectetur fuga dolor. Culpa quod dignissimos iusto reprehenderit itaque ducimus et ut unde magnam odit, nisi accusantium molestiae reiciendis dolorem?</span>
                </p>
        </div>
</div>